<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My Company Application</span>
      <span class="example-spacer"></span>
      <mat-form-field style="width: 20rem" floatLabel="never">
        <input matInput 
               #searchInput="matInput" 
               type="text" 
               placeholder="Search"  
                 (focus)="onFocus()"
               autocomplete="off"/>
        <mat-icon [color]="searchInput.focused ? 'primary' : ''" 
                matSuffix>search</mat-icon>  
      </mat-form-field>
      
      
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <mat-icon class="material-icons">filter</mat-icon>
    </mat-toolbar>
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button">more_vert</mat-icon>
    </button>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
